# fly.toml app configuration file generated for vitanips-backend on 2025-12-03T20:38:32Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vitanips-backend'
primary_region = 'iad'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  PORT = '8000'

[processes]
  app = 'daphne -b 0.0.0.0 -p 8000 vitanips.asgi'
  celery = 'celery -A vitanips worker --loglevel=INFO'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
  processes = ['celery']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
  processes = ['celery_beat']

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
